@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900|Sen:400,700&display=swap&subset=korean,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body { margin: 0; width: 100%; height: 100%; position:relative; padding: 0; }
* {margin:0; padding:0; list-style:none; text-decoration:none; font-family: 'Noto Sans KR', sans-serif; font-size: 16px; outline: none; -webkit-text-size-adjust: none; box-sizing: border-box;}
ul>li>a { text-decoration:none; }
a {color: #333; text-decoration: none; outline: none}
table { border-collapse: collapse; }
textarea {box-sizing: border-box; resize: none;}
select {-webkit-border-radius: 0; -webkit-appearance: none; -moz-appearance: none; -webkit-appearance: none; appearance: none; box-sizing: border-box; cursor: pointer;}
strong,em,p,h1,h2,h3,h4,span,td,button{font-style:normal; color:#333; margin: 0; letter-spacing: -0.5px;}
ul { margin: 0;padding: 0;list-style: none;}
img {max-width:100%;}
.A_Container {
  width: calc(100% - 320px);
  min-width: 800px;
  margin-left: 320px;
  padding: 20px;
}

.title {
  padding: 0 0 10px 0;
}
.title strong {
  font-size: 36px;
  font-weight: 500;
  color: #18365c;
}

input[type="radio"] + span {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  transform: translate(0,4px);
  margin: 0 5px 0 0;
}
input[type="radio"] + span::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  left:50%;
  top: 50%;
  background: #007dbe;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%,-50%);
  transition: .2s ease;
}
input[type="radio"]:checked + span::after {
  visibility: visible;
  opacity: 1;
}